# Creation of dimension

The purpose here is to extract the different dimension of the final_result file

In [1]:
import pandas as pd
import numpy as np
import random as rd
pd.options.display.max_columns = 400
print('The pandas version is {}.'.format(pd.__version__))
import hashlib
from rdgeneration import Rdgen
pd.options.mode.chained_assignment = None 
import os

The pandas version is 0.23.4.
The pandas version is 0.23.4.

## Import file

In [2]:
df = pd.read_csv('../results/final_res.csv')

## Dim Etudiant

In [3]:
def get_ind(var,strr,dic,unique,printed):
    if((var[printed] in unique) and (var[printed] not in dic) ):
        dic[var[printed]] = var[strr]

In [4]:
df["time_year"] = df["N° Etudiant"].apply(lambda var: var.split("_")[0])
df["codeCS"] = df["code_UE"].apply(lambda var : var.split('-')[0])
df["idcss"] = df.loc[:,["responsable_UE","codeCS"]].apply(lambda var : var["codeCS"] + "-" +var["responsable_UE"], axis=1)

In [5]:
df.head()

,Unnamed: 0,N° Etudiant,Nom,Prénom,Moyenne,Grade,Grade ECTS,code_UE,libelle_UE,responsable_UE,annee,nom_UV,code_UV,note,lieu,time_year,codeCS,idcss
0,0,2015_045c,Self,John,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard
1,1,2015_d9b3,English,David,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard
2,2,2015_5661,Benson,Polly,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard
3,3,2015_9343,Lockard,John,0.0,en dessous,F,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,-,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard
4,4,2015_3082,Soape,Jose,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard

In [6]:
df.drop("Unnamed: 0", inplace=True, axis=1)
df.reset_index(inplace= True)

In [7]:
df_student = df.loc[:,["index","N° Etudiant","Nom","Prénom","time_year"]]
unique_std = df_student["N° Etudiant"].unique()
dic_ind = {}

In [8]:
l =df_student.loc[:,:"N° Etudiant"].apply(lambda var: get_ind(var,"index",dic_ind,unique_std,"N° Etudiant"),axis =1)
list_ind = [dic_ind[k] for k in dic_ind]

In [9]:
df_student = df_student.iloc[list_ind]

In [10]:
df_student.drop("index",axis=1,inplace=True)
df_student.reset_index(inplace=True)
df_student.drop("index",axis=1,inplace=True)
df_student.reset_index(inplace=True)

In [11]:
col = list(df_student.columns)
col[0] = "std ID"
df_student.columns = col

In [12]:
dic_stdid = {}
df_student.loc[:,["std ID","N° Etudiant"]].apply(lambda var: get_ind(var,"std ID",dic_stdid,unique_std,"N° Etudiant"),axis =1)
df_student.head()

   std ID N° Etudiant      Nom Prénom time_year
0       0   2015_045c     Self   John      2015
1       1   2015_d9b3  English  David      2015
2       2   2015_5661   Benson  Polly      2015
3       3   2015_9343  Lockard   John      2015
4       4   2015_3082    Soape   Jose      2015

Dimension Etudiant: df_student <br>
Update df

In [13]:
df["std ID"] = df["N° Etudiant"].apply(lambda var : dic_stdid[var])

## Dim UV

In [14]:
df_UV = df.loc[:,["index","nom_UV","code_UV"]]

In [15]:
unique_uv = df_UV["nom_UV"].unique()
dic_uv = {}

l =df_UV.loc[:,["index","nom_UV"]].apply(lambda var: get_ind(var,"index",dic_uv,unique_uv,"nom_UV"),axis =1)
list_ind = [dic_uv[k] for k in dic_uv]
df_UV = df_UV.iloc[list_ind]

df_UV.drop("index",axis=1,inplace=True)
df_UV.reset_index(inplace=True)
df_UV.drop("index",axis=1,inplace=True)
df_UV.reset_index(inplace=True)

col = list(df_UV.columns)
col[0] = "uv ID"
df_UV.columns = col

dic_uvdid = {}
df_UV.loc[:,["uv ID","nom_UV"]].apply(lambda var: get_ind(var,"uv ID",dic_uvdid,unique_uv,"nom_UV"),axis =1)
df_UV.head()
df["UV ID"] = df["nom_UV"].apply(lambda var : dic_uvdid[var])

## Dim CS

In [16]:
df_cs = df.loc[:,["index","idcss","responsable_UE","libelle_UE","codeCS"]]

In [17]:
unique_cs = df_cs["idcss"].unique()
dic_cs = {}

l =df_cs.loc[:,["index","idcss"]].apply(lambda var: get_ind(var,"index",dic_cs,unique_cs,"idcss"),axis =1)
list_ind = [dic_cs[k] for k in dic_cs]
df_cs = df_cs.iloc[list_ind]

df_cs.drop("index",axis=1,inplace=True)
df_cs.reset_index(inplace=True)
df_cs.drop("index",axis=1,inplace=True)
df_cs.reset_index(inplace=True)

col = ['cs ID', 'idcss', 'respoCS', 'nom_CS', 'codeCS']
df_cs.columns = col

In [18]:
dic_csdid = {}
df_cs.loc[:,["cs ID","idcss"]].apply(lambda var: get_ind(var,"cs ID",dic_csdid,unique_cs,"idcss"),axis =1)
df_cs.head()
df["cs ID"] = df["idcss"].apply(lambda var : dic_csdid[var])

In [19]:
df_cs.drop("idcss",inplace= True,axis=1)

## Dim CG

In [20]:
rel_CG_nom = {"IG": "Compétences en ingénierie",
             "interp": "Compétences interpersonnelles",
             "intra" : "Compétences intra-personnelles",
             "ST" : "Compétences scientifiques et techniques"}
df_cg = df.loc[:,["index","codeCS"]]

In [21]:
a = 'IGA'
a[0:-1]

'IG'

In [22]:
df_cg["codeCS"] = df_cg["codeCS"].apply(lambda var: var[0:-1])
df_cg["cg_nom"] = df_cg["codeCS"].apply(lambda var: rel_CG_nom[var])

In [23]:
unique_cg = df_cg["codeCS"].unique()
dic_cg = {}

l =df_cg.loc[:,["index","codeCS"]].apply(lambda var: get_ind(var,"index",dic_cg,unique_cg,"codeCS"),axis =1)
list_ind = [dic_cg[k] for k in dic_cg]
df_cg = df_cg.iloc[list_ind]

df_cg.drop("index",axis=1,inplace=True)
df_cg.reset_index(inplace=True)
df_cg.drop("index",axis=1,inplace=True)
df_cg.reset_index(inplace=True)

col = ["cg id","code cg","cg_nom"]
df_cg.columns = col

In [24]:
df_cg

   cg id code cg                                   cg_nom
0      0      IG                Compétences en ingénierie
1      1  interp            Compétences interpersonnelles
2      2   intra           Compétences intra-personnelles
3      3      ST  Compétences scientifiques et techniques

In [25]:
dic_cgdid = {}
df_cg.loc[:,["cg id","code cg"]].apply(lambda var: get_ind(var,"cg id",dic_cgdid,unique_cg,"code cg"),axis =1)
df_cg.head()
df["cg ID"] = df["codeCS"].apply(lambda var : dic_cgdid[var[:-1]])

In [26]:
df.head()

,index,N° Etudiant,Nom,Prénom,Moyenne,Grade,Grade ECTS,code_UE,libelle_UE,responsable_UE,annee,nom_UV,code_UV,note,lieu,time_year,codeCS,idcss,std ID,UV ID,cs ID,cg ID
0,0,2015_045c,Self,John,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard,0,0,0,0
1,1,2015_d9b3,English,David,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard,1,0,0,0
2,2,2015_5661,Benson,Polly,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard,2,0,0,0
3,3,2015_9343,Lockard,John,0.0,en dessous,F,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,-,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard,3,0,0,0
4,4,2015_3082,Soape,Jose,10.0,atteint,B,IGA-A1-S2,IGA : Pratique de l'ingénierie,GOSSIAUX Pol Bernard,1ère année d'ingénieur 2014-2015,PRIME,1A-S2-PRI,=,Nantes,2015,IGA,IGA-GOSSIAUX Pol Bernard,4,0,0,0

## Fact Table UV

In [27]:
ft_UV = df.loc[:,["UV ID","lieu","std ID","note"]]

## Fact Table Comp

In [58]:
fd_comp = pd.DataFrame()

In [59]:
unique_std = df["N° Etudiant"].unique()

In [62]:
for std in unique_std:    
    exp = df[df["N° Etudiant"] == std ]
    exp.head()

    unique_cp = exp["cs ID"].unique()
    dic_cp = {}

    l =exp.loc[:,["index","cs ID"]].apply(lambda var: get_ind(var,"index",dic_cp,unique_cp,"cs ID"),axis =1)
    list_ind = [dic_cp[k] for k in dic_cp]
    exp = df.iloc[list_ind]
    fd_comp = pd.concat([fd_comp,exp])

In [411]:
fd_comp["cs ID"].unique()

array([ 0,  1,  3,  4,  8,  9, 10, 11, 12, 13, 14,  5,  7,  2,  6, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26], dtype=int64)

In [ ]:
uu

In [409]:

print((fd_comp[fd_comp["cs ID"] == uu]["N° Etudiant"].nunique() == len(fd_comp[fd_comp["cs ID"] == uu])) and (fd_comp[fd_comp["cs ID"] == uu]["N° Etudiant"].nunique() != 0))
print(uu)
uu+=1

True
328