# Creation of dimension

The purpose here is to extract the different dimension of the final_result file

In [1]:
import pandas as pd
import numpy as np
import random as rd
pd.options.display.max_columns = 400
print('The pandas version is {}.'.format(pd.__version__))
import hashlib
from rdgeneration import Rdgen
pd.options.mode.chained_assignment = None 
import os
import copy

The pandas version is 0.23.4.
The pandas version is 0.23.4.

## Import file

In [2]:
df = pd.read_csv('../results/final_res.csv')

## Dim Etudiant

In [3]:
def get_ind(var,strr,dic,unique,printed):
    if((var[printed] in unique) and (var[printed] not in dic) ):
        dic[var[printed]] = var[strr]
        
def get_ind2(df):
    df.drop('index', axis = 1,inplace=True)
    df.drop_duplicates(inplace=True)
    df.reset_index(inplace=True)
    return df

In [4]:
df["time_year"] = df["N° Etudiant"].apply(lambda var: var.split("_")[0])
df["codeCS"] = df["code_UE"].apply(lambda var : var.split('-')[0])
df["idcss"] = df.loc[:,["responsable_UE","codeCS"]].apply(lambda var : var["codeCS"] + "-" +var["responsable_UE"], axis=1)
df["semestre"] = df["code_UE"].apply(lambda var : var.split("-")[2])
df["unicite"] = df.loc[:,["time_year","semestre"]].apply(lambda var : var["time_year"]+"-"+var["semestre"],axis = 1)

In [5]:
df.drop("Unnamed: 0", inplace=True, axis=1)
df.reset_index(inplace= True)

### Definition des jetons

On regarde libelleUE, codeCS et semestre pour avoir l'ensemble des UE et affecter les Jac aux differentes CS

Au vu des résultats, les UVs ne sont pas pareils en fonction des années. Donc une CS pour 2015 peut être évalué par 4 UV et en 2016 par 2 seulement et en 2017 par 3. <br>
On va établir nos jetons a partir du minimum d'UV validant les CS. C'est à dire que pour l'exemple précédent, l'UV va être validé pour la validation de 2 UV et ce pour chaque année. <br>
Toutes les UV donnent 4 jetons. (choisis aléatoirement)

In [6]:
forj = df[["nom_UV","codeCS","semestre"]].drop_duplicates()

In [7]:
forj = df[["nom_UV","codeCS","semestre","time_year"]]

In [8]:
forj_2015 = forj[forj["time_year"] == "2015"].drop_duplicates()
forj_2016 = forj[forj["time_year"] == "2016"].drop_duplicates()
forj_2017 = forj[forj["time_year"] == "2017"].drop_duplicates()

In [9]:
forj_2015_s1 = forj_2015[forj_2015["semestre"] == "S1"].sort_values("codeCS")
forj_2015_s2 = forj_2015[forj_2015["semestre"] == "S2"].sort_values("codeCS")
forj_2016_s1 = forj_2016[forj_2016["semestre"] == "S1"].sort_values("codeCS")
forj_2016_s2 = forj_2016[forj_2016["semestre"] == "S2"].sort_values("codeCS")
forj_2017_s1 = forj_2017[forj_2017["semestre"] == "S1"].sort_values("codeCS")
forj_2017_s2 = forj_2017[forj_2017["semestre"] == "S2"].sort_values("codeCS")

In [10]:
def sdf(annee,semestre,cs):
    dff = globals()["forj_"+str(annee)+"_"+str(semestre)]
    return dff[dff["codeCS"] == cs]

In [11]:
sdf(2017,'s1','STC')

                   nom_UV codeCS semestre time_year
9379  Calcul scientifique    STC       S1      2017

In [12]:
df["codeCS"].unique()

array(['IGA', 'IGB', 'interpA', 'interpB', 'intraA', 'intraB', 'intraC',
       'STA', 'STB', 'STC'], dtype=object)

Après observation pour jac, on decide :
- interpA interpB intraA intraB intraC : 4 sur l'année

Car ce sont des matirèes qui ne sont pas pris par tout les étudiants.<br>

Pour le reste: 
2015 S1 :
- STA 12
- STB 12
- STC 4

2015 S2:
- STA 16
- STB 4
- STC 12
- IGA 4
- IGB 4

2016 S1:
- STA 12
- STB 12
- STC 4

2016 S2:
- STA 12
- STB 4
- STC 12

2017 S1:
- STA 8
- STB 8
- STC 4

2017 S2:
- STA 8
- STB 8
- STC 4

In [13]:
jacq_dic = {"2015" : { "S1" : 
                      {"STA" : 12,
                       "STB" : 12,
                       "STC" : 4}, 
                      "S2" : 
                      {"STA" : 16,
                       "STB" : 4,
                       "STC" : 12, 
                       "IGA" : 4,
                       "IGB" : 4}
                     },
            "2016" : { "S1" : 
                      {"STA" : 12,
                       "STB" : 12,
                       "STC" : 4}, 
                      "S2" : 
                      {"STA" : 12,
                       "STB" : 4,
                       "STC" : 12}
                     },
            "2017" : { "S1" : 
                      {"STA" : 8,
                       "STB" : 8,
                       "STC" : 4}, 
                      "S2" : 
                      {"STA" : 8,
                       "STB" : 8,
                       "STC" : 4}
                     }
            
           }

## Dim Temps

In [14]:
df_tps = df.loc[:,["index","time_year","semestre"]]
df_tps["unicite"] = df.loc[:,["time_year","semestre"]].apply(lambda var : var["time_year"]+"-"+var["semestre"],axis = 1)

df_tps = get_ind2(df_tps)
df_tps.drop("index",axis=1,inplace=True)
df_tps.reset_index(inplace=True)
df_tps.drop("index",axis=1,inplace=True)
df_tps.reset_index(inplace=True)

col = ['time_id', 'annee', 'semestre', 'unicite']
df_tps.columns = col

df["time_id"] = df.apply(lambda var : df_tps[df_tps["unicite"] == var["unicite"]].index[0],axis = 1)
df_tps.drop("unicite",inplace= True,axis=1)

## Dim Etudiant

In [15]:
df_student = df.loc[:,["index","N° Etudiant","Nom","Prénom","time_year"]]
df_student = get_ind2(df_student)

df_student.drop("index",axis=1,inplace=True)
df_student.reset_index(inplace=True)
df_student.drop("index",axis=1,inplace=True)
df_student.reset_index(inplace=True)

col = list(df_student.columns)
col[0] = "std ID"
df_student.columns = col

df["std ID"] = df.apply(lambda var : df_student[df_student["N° Etudiant"] == var["N° Etudiant"]].index[0],axis = 1)

## Dim UV

In [16]:
df_UV = df.loc[:,["index","nom_UV","code_UV","time_year","semestre"]]
df_UV = get_ind2(df_UV)
df_UV.drop("index",axis=1,inplace=True)
df_UV.reset_index(inplace=True)
df_UV.drop("index",axis=1,inplace=True)
df_UV.reset_index(inplace=True)

col = list(df_UV.columns)
col[0] = "uv ID"
df_UV.columns = col

df["UV ID"] = df.apply(lambda var : df_UV[(df_UV["nom_UV"] == var["nom_UV"]) & (df_UV["code_UV"] == var["code_UV"]) & (df_UV["time_year"] == var["time_year"]) & (df_UV["semestre"] == var["semestre"])]["uv ID"].index[0],axis = 1)

## Dim CS

In [17]:
df_cs = df.loc[:,["index","idcss","responsable_UE","libelle_UE","codeCS","semestre","time_year"]]
df_cs = get_ind2(df_cs)
df_cs.drop("index",axis=1,inplace=True)
df_cs.reset_index(inplace=True)
df_cs.drop("index",axis=1,inplace=True)
df_cs.reset_index(inplace=True)

col = ['cs ID', 'idcss', 'respoCS', 'nom_CS', 'codeCS','semestre','annee']
df_cs.columns = col

df["cs ID"] = df.apply(lambda var : df_cs[(df_cs["idcss"] == var["idcss"]) & (df_cs["semestre"] == var["semestre"]) & (df_cs["annee"] == var["time_year"])].index[0],axis = 1)

df_cs.drop("idcss",inplace= True,axis=1)
mandatory = ['STA','STB','STC','IGA','IGB']
df_cs["jacq"] = df_cs.apply(lambda line : jacq_dic[line["annee"]][line["semestre"]][line["codeCS"]] if line["codeCS"] in mandatory else  4,axis = 1)

In [18]:
df_cs.columns

Index(['cs ID', 'respoCS', 'nom_CS', 'codeCS', 'semestre', 'annee', 'jacq'], dtype='object')

## Dim CG

In [19]:
rel_CG_nom = {"IG": "Compétences en ingénierie",
             "interp": "Compétences interpersonnelles",
             "intra" : "Compétences intra-personnelles",
             "ST" : "Compétences scientifiques et techniques"}
df_cg = df.loc[:,["index","codeCS"]]
df_cg["codeCS"] = df_cg["codeCS"].apply(lambda var: var[0:-1])
df_cg["cg_nom"] = df_cg["codeCS"].apply(lambda var: rel_CG_nom[var])

df_cg = get_ind2(df_cg)

df_cg.drop("index",axis=1,inplace=True)
df_cg.reset_index(inplace=True)
df_cg.drop("index",axis=1,inplace=True)
df_cg.reset_index(inplace=True)

col = ["cg id","code cg","cg_nom"]
df_cg.columns = col

df["cg ID"] = df.apply(lambda var : df_cg[df_cg["code cg"] == var["codeCS"][:-1]].index[0],axis = 1)

In [20]:
df_cg.columns

Index(['cg id', 'code cg', 'cg_nom'], dtype='object')

# Degenerated Dim UvGrade

In [21]:
temp = {'id' : [0,1,2,3,4,5], 'symbol' : ['+','=','-','','ABS','DIS']}
uv_grade = pd.DataFrame(temp)

In [22]:
dic_temp = {'+':0,'=':1,'-':2, np.nan:3,'ABS':4,'DIS':5}

In [23]:
df['uv_grade_ID'] = df.apply(lambda var : dic_temp[var['note']], axis =1)

# Dim Grade ECTS

In [24]:
df["Grade"].unique()

array(['atteint', 'en dessous', 'au dessus', nan], dtype=object)

In [25]:
temp = {'id' : [0,1,2,3,4,5,6,7], 
        'grade_ECTS' : ['A','B','C','D','E','F','FX',''], 
        'grade_atteint' : ['au dessus','atteint','atteint','atteint','atteint','en dessous','en dessous','']}
cpt_grade = pd.DataFrame(temp)

In [26]:
dic_temp = {'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'FX':6,np.nan:7}

In [27]:
df['cpt_grade_ID'] = df.apply(lambda var: dic_temp[var['Grade ECTS']],axis =1)

# Dim Degenerated Lieu

In [28]:
temp = {'id' : [0], 'lieu': ['Nantes']}
lieu_d = pd.DataFrame(temp)
dic_temp = {'Nantes': 0}
df['lieu_ID'] = df.apply(lambda var : dic_temp[var['lieu']],axis =1)

In [29]:
lieu_d.columns

Index(['id', 'lieu'], dtype='object')

## Fact Table TDFNotes

In [30]:
def jnote(line):
    if line["note"] == "+":
        return 5
    elif line["note"] == "=":
        return 4
    else: 
        return 0

In [31]:
ft_notes = df.loc[:,["cs ID","UV ID","time_id","std ID","lieu_ID","note"]]
ft_notes["jetons_acquis"] = ft_notes.apply(lambda line: jnote(line), axis = 1)
ft_notes.drop("note",inplace = True, axis = 1)

## Fact Table TDF_csuv

In [32]:
ft_csuv = df.loc[:,["cs ID","UV ID"]]

def niv_cs(line):
    tmp = df_cs[df_cs["cs ID"] == line["cs ID"]]

    if tmp["semestre"][tmp.index[0]] == "S1":
        return 1
    elif tmp["semestre"][tmp.index[0]] == "S2" :
        return 2

ft_csuv["niveau_CS"] = ft_csuv.apply(lambda line : niv_cs(line),axis = 1)
ft_csuv["nb_jetons"] = 4
ft_csuv.drop_duplicates(inplace=True)

#

## Fact Table TDF_cscg

In [33]:
ft_cscg = df.loc[:,["cs ID","cg ID"]]
ft_cscg = ft_cscg.drop_duplicates()

# Dim dégénéré CS code

In [34]:
df_csdegen = df.loc[:,["codeCS"]].drop_duplicates()
df_csdegen = df_csdegen.reset_index().drop("index",axis=1).reset_index()
df_csdegen.columns = ["code_cs_ID","code_CS"]

# Fact Table TDF_csnote

In [35]:
def ret_niv_jetons(line):
    cc = ft_notes[(ft_notes["std ID"] == line["std ID"]) & (ft_notes["cs ID"].isin(df_cs[df_cs["codeCS"] == line["codeCS"]].index))].groupby("cs ID").sum()
    cc = cc.reset_index()
    cc["jacq"] = cc.apply(lambda line : list(df_cs[df_cs["cs ID"] == line["cs ID"]]["jacq"])[0],axis = 1)
    cc["jetons_acquis"] = cc.apply(lambda line : str(line["jetons_acquis"]) +"_"+str(ret_nv(line))+"_"+str(line["jacq"]),axis = 1)
    return "-".join(list(cc["jetons_acquis"]))

def ret_nv(line):
    s = list(df_cs[df_cs["cs ID"] == line["cs ID"]]["semestre"])[0]
    if(s == "S1"):
        return 1
    else:
        return 2

def retnbjeton(line):
    jsum = sum(ft_notes[(ft_notes["std ID"] == line["std ID"]) & (ft_notes["cs ID"] == line["cs ID"]) ]["jetons_acquis"])
    jaac = list(df_cs[df_cs["cs ID"] == line["cs ID"]]["jacq"])[0]
    if jsum > jaac :
        return jaac
    else:
        return jsum

def niv_atteint(line):
    if line["nb_jeton"] == line["jetonmax"]:
        return line["niv"]
    else:
        return 0


def split_nv2(line):
    l = line["tmp"].split("-")
    if(len(l) == 2):
        l = l[1]
        
    else :
        l = l[0]
        splitt = l.split("_")
        niv = splitt[1]
        if (int(niv) != 2):
            return 0
        
        ll = splitt[0]
        if(int(ll) > int(splitt[2])):
            ll = splitt[2]
        return ll

    splitt = l.split("_")
    ll = splitt[0]
    if(int(ll) > int(splitt[2])):
        ll = splitt[2]
    return ll

def split_nv1(line):
    l = line["tmp"].split("-")[0]
    
    splitt = l.split("_")
    niveau = int(splitt[1])
    if(niveau == 2):
        return 0
    
    ll = splitt[0]
    if(int(ll) > int(splitt[2])):
        ll = splitt[2]
    return ll

def splitjacq_nv1(line):
    l = line["tmp"].split("-")[0]
    splitt = l.split("_")
    niveau = int(splitt[1])
    if(niveau == 2):
        return 0
    return splitt[2]

def splitjacq_nv2(line):
    l = line["tmp"].split("-")
    if(len(l) == 2):
        l = l[1]
    else :
        l = l[0]
        splitt = l.split("_")
        niv = splitt[1]
        if (int(niv) != 2):
            return 0
        return splitt[2]

    splitt = l.split("_")
    return splitt[2] 


def niveau_atteint(line):
    nbj2a = int(line["nbre_jetons_niveau2_acquis"])
    nbj1a = int(line["nbre_jetons_niveau1_acquis"])
    tmpjac2 = int(line["tmp_jac2"])
    tmpjac1 = int(line["tmp_jac1"])
    if((nbj2a == tmpjac2) and (tmpjac2 != 0)):
        return 2
    elif((nbj1a == tmpjac1) and (tmpjac1 !=0)):
        return 1
    elif((nbj1a + nbj2a >= tmpjac1) and (tmpjac1 != 0)):
        return 1
    else:
        return 0

def ratio_jeton_niv_2(line):
    nv_cs = int(line["niveau_atteint_Cs"])
    tmpjac = int(line["tmp_jac2"])
    if nv_cs == 2:
        return 100
    elif nv_cs == 0:
        return 0
    elif tmpjac == 0:
        return 0
    else:
        return 100*int(line["nbre_jetons_niveau2_acquis"])/tmpjac

def ratio_jeton_niv_1(line):
    nv_cs = int(line["niveau_atteint_Cs"])
    tmpjac = int(line["tmp_jac1"])
    if nv_cs == 2:
        return 100
    elif (nv_cs == 1):
        return 100
    elif tmpjac == 0:
        return 0
    else:
        return 100*int(line["nbre_jetons_niveau1_acquis"])/tmpjac

In [36]:
def ret_nivmax_poss(line):
    spli = line["tmp"].split("-")
    if len(spli) == 2:
        return 2
    spli = spli[0].split("_")
    if int(spli[1]) == 2:
        return 2
    else:
        return 1

In [37]:
ft_csnote = df.loc[:,["std ID","codeCS"]]
ft_csnote.drop_duplicates(inplace= True)
ft_csnote["tmp"] = ft_csnote.apply(lambda line : ret_niv_jetons(line),axis=1)

In [38]:
ft_csnote["nbre_jetons_niveau1_acquis"] = ft_csnote.apply(lambda line : split_nv1(line),axis = 1)
ft_csnote["nbre_jetons_niveau2_acquis"] = ft_csnote.apply(lambda line : split_nv2(line),axis = 1)
ft_csnote["tmp_jac1"] = ft_csnote.apply(lambda line : splitjacq_nv1(line),axis = 1)
ft_csnote["tmp_jac2"] = ft_csnote.apply(lambda line : splitjacq_nv2(line),axis = 1)
ft_csnote["niveau_atteint_Cs"] = ft_csnote.apply(lambda line : niveau_atteint(line),axis = 1)

In [39]:
ft_csnote["ratio_jeton_niv_de_0_à_1"] =ft_csnote.apply(lambda line : ratio_jeton_niv_1(line),axis = 1)
ft_csnote["ratio_jeton_niv_de_1_à_2"] =ft_csnote.apply(lambda line : ratio_jeton_niv_2(line),axis = 1)
ft_csnote["niv_max_possible"] = ft_csnote.apply(lambda line : ret_nivmax_poss(line),axis =1)

In [40]:
ft_csnote.drop(["tmp","tmp_jac1","tmp_jac2"],axis = 1,inplace=True)
ft_csnote["codeCS"] = ft_csnote["codeCS"].apply(lambda col : list(df_csdegen[df_csdegen["code_CS"] == col]["code_cs_ID"])[0])
ft_csnote.columns = ['std_ID', 'code_cs_ID', 'nbre_jetons_niveau1_acquis',
       'nbre_jetons_niveau2_acquis', 'niveau_atteint_Cs','ratio_jeton_niv_de_0_à_1', 'ratio_jeton_niv_de_1_à_2',
       'niv_max_possible']

In [41]:
def get_missing_line_cs(std):
    comp = [0,1,2,3,4,5,6,7,8,9]
    list_code_cs = list(std["code_cs_ID"])
    myset = set(comp).difference(list_code_cs)
    toappend = []
    for k in myset:
        toappend.append(k)
    line_to_append[list(std["std_ID"])[0]] = toappend

In [42]:
grp_by_std = ft_csnote.groupby("std_ID")
line_to_append ={}

grp_by_std.apply(lambda line : get_missing_line_cs(line))

copy_dic = copy.deepcopy(line_to_append)
for k in copy_dic:
    if line_to_append[k] == []:
        line_to_append.pop(k)
        
std_col = []
code_cs_col = []


for k in line_to_append.items():
    lenn = len(k[1])
    std_id = [k[0]]*lenn
    code_cs = k[1]
    code_cs_col.append(code_cs)
    std_col.append(std_id)

std_pd = [item for sublist in std_col for item in sublist]
code_cs_ID_pd = [item for sublist in code_cs_col for item in sublist]
nbre_jetons_niveau1_acquis_pd = [0]*len(code_cs_ID_pd)
nbre_jetons_niveau2_acquis_pd = [0]*len(code_cs_ID_pd)
niveau_atteint_Cs_pd = [0]*len(code_cs_ID_pd)
ratio_jeton_niv_de_0_à_1_pd = [0]*len(code_cs_ID_pd)
ratio_jeton_niv_de_1_à_2_pd = [0]*len(code_cs_ID_pd)
niv_max_possible_pd = [0]*len(code_cs_ID_pd)

df_toappend = pd.DataFrame(data= {
    "std_ID":std_pd,
    "code_cs_ID" : code_cs_ID_pd,
    "nbre_jetons_niveau1_acquis":nbre_jetons_niveau1_acquis_pd,
    "nbre_jetons_niveau2_acquis":nbre_jetons_niveau2_acquis_pd,
    "niveau_atteint_Cs":niveau_atteint_Cs_pd,
    "ratio_jeton_niv_de_0_à_1":ratio_jeton_niv_de_0_à_1_pd,
    "ratio_jeton_niv_de_1_à_2":ratio_jeton_niv_de_1_à_2_pd,
    "niv_max_possible":niv_max_possible_pd
    })

In [43]:
ft_csnote = ft_csnote.append(df_toappend)
ft_csnote["ratio_jeton_niv_de_1_à_2"] = ft_csnote["ratio_jeton_niv_de_1_à_2"].apply(round)
ft_csnote["ratio_jeton_niv_de_0_à_1"] = ft_csnote["ratio_jeton_niv_de_0_à_1"].apply(round)

# tests

In [44]:
ft_csnote[(ft_csnote["ratio_jeton_niv_de_0_à_1"] == 0) & (ft_csnote["ratio_jeton_niv_de_1_à_2"] == 100) ]

Empty DataFrame
Columns: [std_ID, code_cs_ID, nbre_jetons_niveau1_acquis, nbre_jetons_niveau2_acquis, niveau_atteint_Cs, ratio_jeton_niv_de_0_à_1, ratio_jeton_niv_de_1_à_2, niv_max_possible]
Index: []

pour nivmaxpossible

In [ ]:
ft_csnote[(ft_csnote["tmp_jac2"]== 0) & (ft_csnote["niv_max_possible"] == 2)]
ft_csnote[(ft_csnote["tmp_jac1"]== 0) & (ft_csnote["niv_max_possible"] == 1)]

In [ ]:
len(ft_cgnote) == 515*4

cs bien ajoutée initialisée

In [ ]:
unique = ft_csnote["std_ID"].unique()
goodlen = True
for k in unique:
    if len(ft_csnote[ft_csnote["std_ID"] == k]) != 10:
        print(k)
        goodlen = False
goodlen

cg bien ajoutée initialisée

In [ ]:
unique = ft_cgnote["std_ID"].unique()
goodlen = True
for k in unique:
    if len(ft_cgnote[ft_cgnote["std_ID"] == k]) != 4:
        print(k)
        goodlen = False
goodlen

In [160]:
len(niv_list) == len(std_list) == len(perc_list)

True

# Fact table cgnote

In [46]:
def ret_nivmaxcg(line):
    if(line["cg_ID"] == 0):
        return 2
    elif(line["cg_ID"] == 1):
        return 1
    elif(line["cg_ID"] == 2):
        return 1
    elif(line["cg_ID"] == 3):
        return 2

def niv_median(line):
    indices = list(df_csdegen[df_csdegen["code_CS"].isin(df_cs.loc[list(ft_cscg[ft_cscg["cg ID"] == line["cg ID"]]["cs ID"])]["codeCS"].unique())]["code_cs_ID"])
    mediann = round(ft_csnote[(ft_csnote["std_ID"] == line["std ID"]) & (ft_csnote["code_cs_ID"].isin(indices))]["niveau_atteint_Cs"].median())
    return int(mediann)

In [47]:
ft_cgnote = df.loc[:,["std ID","cg ID"]].drop_duplicates()
ft_cgnote["niveau_atteint_cg"] = ft_cgnote.apply(lambda line : niv_median(line),axis = 1) 
ft_cgnote.columns = ['std_ID', 'cg_ID', 'niveau_atteint_Cg']
ft_cgnote["niv_max_possible"] = ft_cgnote.apply(lambda line : ret_nivmaxcg(line),axis = 1)

Pour niv max de CG:
- IG --> 2 pour l'année 2015, 0 pour le reste
- ST --> 2 tout le temps
- Intra et Interp --> 1

In [48]:
def get_missing_line(std):
    comp = [0,1,2,3]
    list_cg = list(std["cg_ID"])
    myset = set(comp).difference(list_cg)
    toappend = []
    for k in myset:
        toappend.append(k)
    line_to_append[list(std["std_ID"])[0]] = toappend

In [49]:
grp_by_std = ft_cgnote.groupby("std_ID")
line_to_append ={}

grp_by_std.apply(lambda line : get_missing_line(line))

copy_dic = copy.deepcopy(line_to_append)
for k in copy_dic:
    if line_to_append[k] == []:
        line_to_append.pop(k)
        
std_col = []
cg_col = []


for k in line_to_append.items():
    lenn = len(k[1])
    std_id = [k[0]]*lenn
    cg = k[1]
    cg_col.append(cg)
    std_col.append(std_id)
std_pd = [item for sublist in std_col for item in sublist]
cg_pd = [item for sublist in cg_col for item in sublist]
niv_atteint_pd = [0]*len(cg_pd)
niv_max_possible_pd = [0]*len(std_pd)
df_toappend = pd.DataFrame(data= {"std_ID":std_pd,"cg_ID" : cg_pd,"niveau_atteint_Cg":niv_atteint_pd, "niv_max_possible":niv_max_possible_pd})
ft_cgnote = ft_cgnote.append(df_toappend)

# Dim dégénéré percentage

In [50]:
prrcentage = list(range(0,101))

In [51]:
df_degenereperc = pd.DataFrame(data = {"percentage_ID" : prrcentage, "value" : prrcentage})

# TDF_NiveauCsNonatteint

1394    17-1-50

4124    17-1-67

niveau 1 + 67% du niveau 2 (entre 1 et 2)

In [211]:
ft_nivCsnonAtteint = df.loc[:,'std ID'].copy(deep = True).drop_duplicates()
list_niv_nonatteint = []
def retrieve_cs_non_atteint_niv(line):
    std_cs = ft_csnote[ft_csnote["std_ID"] == line]
    niv_1 = std_cs[std_cs["niveau_atteint_Cs"] == 1]
    niv_1_nonatteint = niv_1.apply(lambda line : str(line["std_ID"]) + "-" + str(line["niveau_atteint_Cs"]) + "-"+ str(line["ratio_jeton_niv_de_1_à_2"]),axis= 1)
    
    niv_0 = std_cs[std_cs["niveau_atteint_Cs"] == 0]
    niv_0_nonatteint = niv_0.apply(lambda line : str(line["std_ID"]) + "-" + str(line["niveau_atteint_Cs"]) + "-"+ str(line["ratio_jeton_niv_de_0_à_1"]) if(line["niv_max_possible"] != 0) else None,axis= 1)
    
    niv_0_nonatteint = list(filter(lambda x : x if x!= None else None,list(niv_0_nonatteint)))
    
    niv_2 = std_cs[std_cs["niveau_atteint_Cs"] == 2]
    niv_2_nonatteint = niv_2.apply(lambda line : str(line["std_ID"]) + "-" + str(line["niveau_atteint_Cs"]) + "-"+ str(line["ratio_jeton_niv_de_1_à_2"]),axis= 1)
    
    list_niv_nonatteint.append(list(niv_0_nonatteint))
    list_niv_nonatteint.append(list(niv_1_nonatteint))
    list_niv_nonatteint.append(list(niv_2_nonatteint))

In [212]:
c = ft_nivCsnonAtteint.apply(lambda line : retrieve_cs_non_atteint_niv(line))

In [213]:
torm = ['std_ID',
  'code_cs_ID',
  'nbre_jetons_niveau1_acquis',
  'nbre_jetons_niveau2_acquis',
  'niveau_atteint_Cs',
  'ratio_jeton_niv_de_0_à_1',
  'ratio_jeton_niv_de_1_à_2',
  'niv_max_possible']
torm2 = None

In [218]:
list_niv_nonatteint = list(filter(lambda x : (x != torm) and (x != []),list_niv_nonatteint))
list_niv_nonatteint_sorted = [item for sublist in list_niv_nonatteint for item in sublist ]
list_niv_nonatteint_sorted = list(map(lambda x: x.split("-"),list_niv_nonatteint_sorted))

In [220]:
std_list = list(map(lambda x : int(x[0]),list_niv_nonatteint_sorted ))
niv_list = list(map(lambda x : int(x[1]),list_niv_nonatteint_sorted ))
perc_list = list(map(lambda x : int(x[2]),list_niv_nonatteint_sorted ))

In [221]:
ft_nivCsnonAtteint = pd.DataFrame(data={"std_ID": std_list, "niveau" : niv_list, "percentage" : perc_list})
ft_nivCsnonAtteint["nombre_cs_a_ce_niveau"] = 1

In [222]:
grpby = ft_nivCsnonAtteint.groupby(["std_ID","niveau","percentage"]).count()
ft_nivCsnonAtteint = grpby.reset_index()

# TDF_NiveauCgNonatteint

niv_attendu

In [242]:
ft_nivCgnonAtteint = df.loc[:,"std ID"].drop_duplicates()

In [254]:
def diffniv(line):
    diff = line["niv_max_possible"] - line["niveau_atteint_Cg"]
    if diff <0:
        return 0
    else :
        return diff

In [274]:
nv_cg_non_atteint_list = []
def retrieve_cg_non_atteint_niv(line):
    notes = ft_cgnote[ft_cgnote["std_ID"] == line] 
    temp = notes.apply(lambda line : str(line["std_ID"]) + "-" + str(diffniv(line))+ "-" + str(line["niv_max_possible"]),axis= 1)
    nv_cg_non_atteint_list.append(list(temp))

In [275]:
c = ft_nivCgnonAtteint.apply(lambda line : retrieve_cg_non_atteint_niv(line))

In [276]:
nv_cg_non_atteint_list = [item for sublist in nv_cg_non_atteint_list for item in sublist]

In [277]:
nv_cg_non_atteint_list = list(map(lambda l : l.split("-"), nv_cg_non_atteint_list))

Code : 0-0-2 : stdID-nbniveaumanquant-niv_max_possible

In [281]:
std_id_list = list(map(lambda x : int(x[0]),nv_cg_non_atteint_list ))
nb_nv_manquant_list = list(map(lambda x : int(x[1]),nv_cg_non_atteint_list ))
niv_max_possible_list = list(map(lambda x : int(x[2]),nv_cg_non_atteint_list ))

In [284]:
ft_nivCgnonAtteint = pd.DataFrame(data = {"std_ID" : std_id_list, "nb_niv_manquant": nb_nv_manquant_list, "niv_max_possible" :niv_max_possible_list })

In [287]:
grpby = ft_nivCgnonAtteint.groupby(["std_ID","niv_max_possible"]).sum()

In [298]:
ft_nivCgnonAtteint = grpby.reset_index()

# Creation data frame

In [42]:
import itertools

In [43]:
l = 100000
idd = list(itertools.chain.from_iterable([[k,k,k] for k in range(l)]))

In [44]:
tomax = [1,1,3,2,2,4,1,2,1,4,4,1,5,9,5]*int(l/5)

In [45]:
junk = ['a']*(3*l)

In [46]:
mydic = {"id": idd, "tomax": tomax, "junk": junk}
mydf = pd.DataFrame(mydic)

In [47]:
unique = mydf['id'].unique()

In [48]:
my_ind = mydf.groupby(['id'])['tomax'].idxmax()
mydf.iloc[my_ind]

           id  tomax junk
2           0      3    a
5           1      4    a
7           2      2    a
9           3      4    a
13          4      9    a
17          5      3    a
20          6      4    a
22          7      2    a
24          8      4    a
28          9      9    a
32         10      3    a
35         11      4    a
37         12      2    a
39         13      4    a
43         14      9    a
47         15      3    a
50         16      4    a
52         17      2    a
54         18      4    a
58         19      9    a
62         20      3    a
65         21      4    a
67         22      2    a
69         23      4    a
73         24      9    a
77         25      3    a
80         26      4    a
82         27      2    a
84         28      4    a
88         29      9    a
...       ...    ...  ...
299912  99970      3    a
299915  99971      4    a
299917  99972      2    a
299919  99973      4    a
299923  99974      9    a
299927  99975      3    a
299930  99976      4    a
299932  99977      2    a
299934  99978      4    a
299938  99979      9    a
299942  99980      3    a
299945  99981      4    a
299947  99982      2    a
299949  99983      4    a
299953  99984      9    a
299957  99985      3    a
299960  99986      4    a
299962  99987      2    a
299964  99988      4    a
299968  99989      9    a
299972  99990      3    a
299975  99991      4    a
299977  99992      2    a
299979  99993      4    a
299983  99994      9    a
299987  99995      3    a
299990  99996      4    a
299992  99997      2    a
299994  99998      4    a
299998  99999      9    a

[100000 rows x 3 columns]